OmegaBakery Requirements

1.Components
 1.1. Management
	a) Administrator should be able to login
	b) Change login username, password for administrator
	c) Add, Edit data files and location of files
 1.2. Inventory 
	a) Read products from the data files
	b) Add new Product types
	c) Access data files from correct csv
	d) Avoid multiple data access
 1.3. Order
	a) View items by product family 
	b) select Products from inventory 
	c) view stock available, select count
	b) Add products to cart
	c) Update product order counts
	c) Discounts
		1. Have multiple discount types
		2. Apply appropriate discounts to order items
		3. Re-validate discounts on order update